* {
    box-sizing: border-box;
}

html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    height: 100vh;
    display: flex;
}

#app.mobile {
    flex-direction: column;
}

#app #main {
    flex: 1;
    max-height: 100vh;
    overflow: auto;
}

#app.mobile #main {
    margin: 0 2rem;
}

#app #main h1 {
    font-size: 3rem;
}